footer a:hover {
  opacity: 0.8;
}

footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
  bottom: 0;
}

footer a {
  color: #ffc107;
  text-decoration: none;
}
