@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }

  nav ul {
    flex-direction: column;
    gap: 12px;
  }

  .evolucao-container {
    flex-direction: column;
    align-items: center;
  }

  figcaption {
    font-size: 16px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }
}