th {
  padding: 10px 24px;
}

tr {
  text-align: center;
}

main section,
main article,
main table {
  color: black;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

article {
  background-color: #ffc107;
  color: #fff;
}
